body
{
    background-color: lightgreen;
    color: black;
}

a
{
    color: grey;
}

#elso
{
    width: 980px;
    border: none;
    background-color: darkgreen;
    margin: 0 auto;
}

#masodik
{
    width: 940px;
    margin: 0 auto;
    border: none;
    background-color: white;
}

#sor2
{
    height: 40px;
    background-color: black;
    color: white;
}

.kozep
{
    margin: 0 auto;
    text-align: center;
}